
    <p>
        <b>Damian Nicolás Dattilo</b><br>
        Estudiante de la utn fra<br>
        32 años<br><br>
        <br>
        <img src="./assets/fotoAlumno.jpg" width="200" />
        <br><br><br><h3>Juego propio: generala simple</h3>
        2 jugadores tiran 5 dados al azar por turnos y segun las combinaciones de los numeros se anotan puntajes
        5 numeros iguales es 'generala' y vale 100 puntos
        4 iguales y 1 distinto es 'poker' y vale 80 puntos
        3 iguales y 2 iguales es 'full' y vale 50 puntos
        
        El juego concluye cuando uno de los jugadores supera los 200 puntos o cuando se dan 10 tiros por cada jugador.
        </p>

